
@{
    ViewBag.Title = "Gravar";
}

<h2>Gravar</h2>
<form method="post" action="ProcessarGravacaoPost">
    Titulo : <input type="text" name="livro.titulo" />
    <br />
    Autor : <input type="text" name="livro.autor" />
    <br />
    Isbn : <input type="text" name="livro.isbn" />
    <br />
    Paginas : <input type="text" name="livro.paginas" />
    <br />
    Editora : <input type="text" name="livro.editora" />
    <br />
    Edição : <input type="text" name="livro.edicao" />
    <br />
    Categoria : <input type="text" name="livro.categoria" />
    <input type="submit" value="Enviar" />
</form>

